/* You can add global styles to this file, and also import other style files */
.navbar-default {
  background-color: #000;
  background-image: none;
  text-decoration: none;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: none;
}