<div class="container">
  <div class="col-md-8">
    hola
  </div>
  <div class="col-md-4">
    <form>
      <p>Selecciona los ingredientes de tu coctel:</p>
      <div>
        <input type="radio" id="contactChoice1" name="ron" value="ron">
        <label for="contactChoice1">Ron</label>

        <input type="radio" id="contactChoice2" name="vodka" value="vodka">
        <label for="contactChoice2">Vodka</label>

        <input type="radio" id="contactChoice3" name="ginebra" value="ginebra">
        <label for="contactChoice3">Ginebra</label>
      </div>
    </form>
    <form>
      <div>
        <input type="radio" id="contactChoice1" name="contact" value="email">
        <label for="contactChoice1">Email</label>

        <input type="radio" id="contactChoice2" name="contact" value="phone">
        <label for="contactChoice2">Phone</label>

        <input type="radio" id="contactChoice3" name="contact" value="mail">
        <label for="contactChoice3">Mail</label>
      </div>
    </form>
    <form>
        <div>
          <input type="radio" id="contactChoice1" name="contact" value="email">
          <label for="contactChoice1">Email</label>
  
          <input type="radio" id="contactChoice2" name="contact" value="phone">
          <label for="contactChoice2">Phone</label>
  
          <input type="radio" id="contactChoice3" name="contact" value="mail">
          <label for="contactChoice3">Mail</label>
        </div>
      </form>
    <div>
      <button type="submit">Submit</button>
    </div>
  </div>
</div>