<div class="combinations">
  <div>
    <input type="radio" name="base" [(ngModel)]="base" value="ron" (click)="mix()">Ron
    <input type="radio" name="base" [(ngModel)]="base" value="vodka" (click)="mix()">Vodka
    <input type="radio" name="base" [(ngModel)]="base" value="ginebra" (click)="mix()">Ginebra
  </div>
  <div>
    <input type="radio" name="second" [(ngModel)]="second" value="cola" (click)="secondMix()">Cola
    <input type="radio" name="second" [(ngModel)]="second" value="fanta" (click)="secondMix()">Fanta
    <input type="radio" name="second" [(ngModel)]="second" value="tonica" (click)="secondMix()">Tonica
  </div>
  <div>
    <input type="radio" name="third" [(ngModel)]="third" value="agua" (click)="cocktail()">Agua
    <input type="radio" name="third" [(ngModel)]="third" value="hielo" (click)="cocktail()">Hielo
    <input type="radio" name="third" [(ngModel)]="third" value="hieloP" (click)="cocktail()">Hielo Picado
  </div>
</div>
<div class="drinks">
  <img src="{{srcImg}}" alt="{{srcImg}}">
</div>
<!-- <div *ngIf(myForm.value==="ron")
   <img src="{{src}}" alt="{{src}}">
</div> -->
<div>
  <a [routerLink]="['../map']">Mapa</a>
</div>